@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* convert to rgb values */
  /* --background: #f5f5f5;
  --accent: #3936ce;
  --foreground: #101010;
  --muted: #efefef; */

  /* rgb values */
  --background: 245, 245, 245;
  --accent: 57, 54, 206;
  --foreground: 16, 16, 16;
  --muted: 239, 239, 239;
}

.dark {
  /* --background: #101010;
  --accent: #3936ce;
  --foreground: #f5f5f5;
  --muted: #6b7280; */

  --background: 16, 16, 16;
  --accent: 57, 54, 206;
  --foreground: 245, 245, 245;
  --muted: 107, 114, 128;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
